i {
	color: grey;
}

summary {
	font-weight: bold;
}


.AVT {
	color: green;
}

.AVNS {
	color: #fcba03; 
}

.RA {
	color: red;
}

.low {
	color: green;
}

.mid {
	color: #fcba03; 
}

.hi {
	color: red;
}
